<ion-content>
  <div class="container" style="padding: 10px">
    <br><br>
    <p>Debes verificar si el numero mostrado es multiplo del numero <b>siete</b></p>
    <br>
    <p>Cambia el numero a verificar cada cierto tiempo</p>
    <br>

    <p>Aleatoreamente los botones <b>Siguiente</b> y <b>Verdadero</b> cambian de lugar</p>
    <br><br>
    <p><b style="color: white;">
        Normal
      </b></p>
    <br>
    <p>Al empezar tienes 2 minutos</p>
    <br><br>

    <p><b style="color: red;">
        Experto
      </b></p>
    <br>
    <p>Por solo una respuesta mal <b style="color: red;">
        pierdes
      </b></p>
    <br>
    <p>Al empezar tienes 25 segundos</p>
    <br>
    <p>Por cada respuesta correcta se agregaran <b>5 segundos</b> al tiempo limite.</p>
    <br><br>


  </div>

</ion-content>